<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>ETMA Navy</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="keywords" content="" />
      <meta name="description" content="" />
      <meta name="pdfkit-page-size" content="Legal"/>
      <meta name="pdfkit-orientation" content="Landscape"/>
      <style type="text/css">
         body{margin:50px 50px; size:landscape;}
         .wrapper{width: 100%; margin: 20px auto;}
         table{border-collapse: collapse;}
         .clear{padding: 0; margin: 0; width: 100%; clear: both;}
         .star{color: red;}
         body{margin:50px;background: #FFF !important;}
      </style>
   </head>
   <body>
      <div class="wrapper">
         <div class="heading-style2">
            <h2 style="font-size: 20px; font-weight: 600; color: #000; text-align: center;"><strong>INHOUSE TRIALS – GTG OCCASION OF TRIALS – <span style="border-bottom: 1px solid #000;">{{users.occation_of_trial}}</span></strong>
               TRIALS DATE - <span style="border-bottom: 1px solid #000;">{{users.trial_date}}</span></strong>
            </h2>
            <h2 style="font-size: 20px; font-weight: 600; color: #000; text-align: center;"><strong>GAS TURBINE GENERATOR INHOUSE TRIAL REPORT - GTG  (<span style="border-bottom: 1px solid #000;">{{users.inhouse_trial_report}}</span>) SHIP – INS  <span style="border-bottom: 1px solid #000;">{{users.shipID}}</span></strong></h2>
         </div>
         <h4 style="font-size:18px ;color: #000; margin: 20px 0 10px;">1. Trial Details</h4>
         <table cellspacing="0" cellpadding="5" border="1" class="table grid-tab" width="100%" style="font-family: Arial, Helvetica, sans-serif;">
            {% if users %}
            <tr>
               <td>(a)</td>
               <td>Trial date <span class="star"><span class="star">*</span></span></td>
               <td style="font-size:14px; color: #222;">{{users.trial_date |date:'d/m/Y'}}</td>
            </tr>
            {% endif %}
            {% if users %}
            <tr>
               <td>(b)</td>
               <td>Occasion of trial <span class="star"><span class="star">*</span></span></td>
               <td style="font-size:14px; color: #222;">{{users.trial_occation_of_trial}}</td>
            </tr>
            {% endif %}
            {% if users %}
            <tr>
               <td>(c)</td>
               <td>Reference document for trial</td>
               <td style="font-size:14px; color: #222;">{{users.reference_document}}</td>
            </tr>
            {% endif %}
         </table>
         &nbsp;
         <table cellspacing="0" cellpadding="5" border="1" class="table grid-tab" width="100%" style="font-family: Arial, Helvetica, sans-serif;">
            <td width="5%" >
         <h4 style="font-size:18px ;color: #222; margin: 20px 0 10px;">2. Test Equipment Used. <span class="star"><span class="star">*</span></span></td>
           <td width="23%"style="font-size:14px; color: #222;">{{users.testEquipmentUsed}}</td></h4>
          <table>
         <h4 style="font-size:18px ;color: #000; margin: 20px 0 10px;">3. Equipment Details</h4>
         <table cellspacing="0" cellpadding="5" border="1" class="table grid-tab" width="100%" style="font-family: Arial, Helvetica, sans-serif;">
            <tr>
               <th align="left" colspan="3">Engine</th>
            </tr>
            <tr>
               <td>(a)</td>
               <td>Make <span class="star"><span class="star">*</span></span></td>
               <td style="font-size:14px; color: #222;">{{users.engine_make}}</td>
            </tr>
            <tr>
               <td>(b)</td>
               <td>Model & serial no. <span class="star"><span class="star">*</span></span></td>
               <td style="font-size:14px; color: #222;">{{users.engine_model}}</td>
            </tr>
            <tr>
               <td>(c)</td>
               <td>RPM<span class="star"><span class="star">*</span></span> </td>
               <td style="font-size:14px; color: #222;">{{users.engine_rpm}}</td>
            </tr>
         </table>
         <table cellspacing="0" cellpadding="5" border="1" class="table grid-tab" width="100%" style="font-family: Arial, Helvetica, sans-serif; margin-top: 20px;">
            <tr>
               <th align="left" colspan="3">Governor</th>
            </tr>
            <tr>
               <td>(a)</td>
               <td>Make <span class="star"><span class="star">*</span></span></td>
               <td style="font-size:14px; color: #222;">{{users.governor_make}}</td>
            </tr>
            <tr>
               <td>(b)</td>
               <td>Model & serial no. <span class="star"><span class="star">*</span></span></td>
               <td style="font-size:14px; color: #222;">{{users.governor_model}}</td>
            </tr>
            <tr>
               <td>(c)</td>
               <td>Type<span class="star"><span class="star">*</span></span> </td>
               <td style="font-size:14px; color: #222;">{{users.governor_type}}</td>
            </tr>
         </table>
         <table cellspacing="0" cellpadding="5" border="1" class="table grid-tab" width="100%" style="font-family: Arial, Helvetica, sans-serif; margin-top: 20px;">
            <tr>
               <th align="left" colspan="3">Alternator</th>
            </tr>
            <tr>
               <td>(a)</td>
               <td>Make and rating<span class="star"><span class="star">*</span></span></td>
               <td style="font-size:14px; color: #222;">{{users.alternator_make}}</td>
            </tr>
            <tr>
               <td>(b)</td>
               <td>Model & serial no.<span class="star"><span class="star">*</span></span></td>
               <td style="font-size:14px; color: #222;">{{users.alternator_model}}</td>
            </tr>
            <tr>
               <td>(c)</td>
               <td>Rated voltage<span class="star"><span class="star">*</span></span></td>
               <td style="font-size:14px; color: #222;">{{users.alternator_voltage}}</td>
            </tr>
            <tr>
               <td>(d)</td>
               <td>Rated frequency<span class="star"><span class="star">*</span></span></td>
               <td style="font-size:14px; color: #222;">{{users.alternator_frequency}}</td>
            </tr>
            <tr>
               <td>(e)</td>
               <td>Rated kVA/ kW<span class="star"><span class="star">*</span></span></td>
               <td style="font-size:14px; color: #222;">{{users.alternator_kw}}</td>
            </tr>
            <tr>
               <td>(f)</td>
               <td>Rated current<span class="star"><span class="star">*</span></span></td>
               <td style="font-size:14px; color: #222;">{{users.alternator_current}}</td>
            </tr>
            <tr>
               <td>(g)</td>
               <td>Bearing number<span class="star"><span class="star">*</span></span></td>
               <td style="font-size:14px; color: #222;">{{users.alternator_bearingno}}</td>
            </tr>
         </table>
         <table cellspacing="0" cellpadding="5" border="1" class="table grid-tab" width="100%" style="font-family: Arial, Helvetica, sans-serif; margin-top: 20px;">
            <tr>
               <th align="left" colspan="3">AVR</th>
            </tr>
            <tr>
               <td>(a)</td>
               <td>Make and type<span class="star"><span class="star">*</span></span></td>
               <td style="font-size:14px; color: #222;">{{users.avr_make}}</td>
            </tr>
            <tr>
               <td>(b)</td>
               <td>Model & serial no. <span class="star"><span class="star">*</span></span></td>
               <td style="font-size:14px; color: #222;">{{users.avr_model}}</td>
            </tr>
         </table>
         <table cellspacing="0" cellpadding="5" border="1" class="table grid-tab" width="100%" style="font-family: Arial, Helvetica, sans-serif; margin-top: 20px;">
            <tr>
               <th align="left" colspan="3">Supply Breaker</th>
            </tr>
            <tr>
               <td>(a)</td>
               <td>Make<span class="star"></span></td>
               <td style="font-size:14px; color: #222;">{{users.supply_make}}</td>
            </tr>
            <tr>
               <td>(b)</td>
               <td>Model & Serial no.<span class="star"><span class="star">*</span></span></td>
               <td style="font-size:14px; color: #222;">{{users.supply_model}}</td>
            </tr>
            <tr>
               <td>(c)</td>
               <td>Rated capacity (Amps)* <span class="star"><span class="star">*</span></span></td>
               <td style="font-size:14px; color: #222;">{{users.supply_capacity}}</td>
            </tr>
         </table>
         <h4 style="font-size:18px ;color: #000; margin: 20px 0 10px;">4.  Insulation Resistance (iaw NES 511(Issue 2) and NES 502 issue 4).</h4>
         <table cellspacing="0" cellpadding="5" border="1" class="table grid-tab" width="100%" style="font-family: Arial, Helvetica, sans-serif;">
            <tr>
               <td>(a)</td>
               <td>Generator hot (>1MW) <span class="star">*</span>  </td>
               <td style="font-size:14px; color: #222;">{{users.insulation_hot}}</td>
            </tr>
            <tr>
               <td>(b)</td>
               <td>Generator cold (>1MW) <span class="star">*</span></td>
               <td style="font-size:14px; color: #222;">{{users.insulation_cold}}</td>
            </tr>
            <tr>
               <td>(c)</td>
               <td>Switchboard (>2MW) <span class="star">*</span></td>
               <td style="font-size:14px; color: #222;">{{users.insulation_switchboard}}</td>
            </tr>
            <tr>
               <td>(d)</td>
               <td>Generator to switchboard cable (>20MW) <span class="star">*</span></td>
               <td style="font-size:14px; color: #222;">{{users.insulation_generator}}</td>
            </tr>
            <tr>
               <td>(e)</td>
               <td>Insulation of breaker (>10MW) <span class="star">*</span></td>
               <td style="font-size:14px; color: #222;">{{users.insulation_breaker}}</td>
            </tr>
         
         </table>
         <h4 style="font-size:18px ;color: #000; margin: 20px 0 10px;">5. Protection Checks.</h4>
         <table cellspacing="0" cellpadding="5" border="1" class="table grid-tab" width="100%" style="font-family: Arial, Helvetica, sans-serif;">
            <tr>
               <th align="left">Ser</th>
               <th align="left">Protection</th>
               <th align="left">Calibration Date<span class="star">*</span></th>
               <th align="left">Calibration Certificate Provided (Yes/ No)<span class="star">*</span></th>
               <th align="left">Tripping Value<span class="star">*</span></th>
               <th align="left">Observed Value<span class="star">*</span></th>
               <th align="left">Status(Sat/ Unsat)<span class="star">*</span></th>
               <th align="left">Remarks<span class="star">*</span></th>

            </tr>
            <tr>
               <th align="left" colspan="7">Breaker Protection</th>
            </tr>
            {% if users %}
            <tr>
               <td>(a)</td>
               <td>Over voltage</td>
               <td style="font-size:14px; color: #222;">{{users.protection_breaker_over_calibration_date |date:'d/m/Y'}}</td>
               <td style="font-size:14px; color: #222;">{{users.protection_breaker_over_calibration_certificate}}</td>
               <td>110% of rated voltage</td>
               <td style="font-size:14px; color: #222;">{{users.protection_breaker_over_observed_value}}</td>
               <td style="font-size:14px; color: #222;">{{users.protection_breaker_over_status}}</td>
               <td style="font-size:14px; color: #222;">{{users.protection_breaker_over_Remarks}}</td>
            </tr>
            <tr>
               <td>(b)</td>
               <td>Under voltage</td>
               <td style="font-size:14px; color: #222;">{{users.protection_breaker_under_calibration_date |date:'d/m/Y'}}</td>
               <td style="font-size:14px; color: #222;">{{users.protection_breaker_under_calibration_certificate}}</td>
               <td>85% of rated voltage</td>
               <td style="font-size:14px; color: #222;">{{users.protection_breaker_under_observed_value}}</td>
               <td style="font-size:14px; color: #222;">{{users.protection_breaker_under_status}}</td>
               <td style="font-size:14px; color: #222;">{{users.protection_breaker_under_Remarks}}</td>
            </tr>
            <tr>
               <td>(c)</td>
               <td>Overload</td>
               <td style="font-size:14px; color: #222;">{{users.protection_breaker_overload_calibration_date |date:'d/m/Y'}}</td>
               <td style="font-size:14px; color: #222;">{{users.protection_breaker_overload_calibration_certificate}}</td>
               <td>NA</td>
               <td style="font-size:14px; color: #222;">{{users.protection_breaker_overload_observed_value}}</td>
               <td style="font-size:14px; color: #222;">{{users.protection_breaker_overload_status}}</td>
               <td style="font-size:14px; color: #222;">{{users.protection_breaker_overload_Remarks}}</td>
            </tr>
            <tr>
               <th align="left" colspan="7">Generator/ Switchboard Protection</th>
            </tr>
            <tr>
               <td>(a)</td>
               <td>Over voltage trip</td>
               <td style="font-size:14px; color: #222;">{{users.protection_generator_over_calibration_date |date:'d/m/Y'}}</td>
               <td style="font-size:14px; color: #222;">{{users.protection_generator_over_calibration_certificate}}</td>
               <td>110% of rated voltage</td>
               <td style="font-size:14px; color: #222;">{{users.protection_generator_over_observed_value}}</td>
               <td style="font-size:14px; color: #222;">{{users.protection_generator_over_status}}</td>
               <td style="font-size:14px; color: #222;">{{users.protection_generator_over_Remarks}}</td>
            </tr>
            <tr>
               <td>(b)</td>
               <td>Under voltage trip</td>
               <td style="font-size:14px; color: #222;">{{users.protection_generator_under_calibration_date |date:'d/m/Y'}}</td>
               <td style="font-size:14px; color: #222;">{{users.protection_generator_under_calibration_certificate}}</td>
               <td>85% of rated voltage</td>
               <td style="font-size:14px; color: #222;">{{users.protection_generator_under_observed_value}}</td>
               <td style="font-size:14px; color: #222;">{{users.protection_generator_under_status}}</td>
               <td style="font-size:14px; color: #222;">{{users.protection_generator_under_Remarks}}</td>
            </tr>
            <tr>
               <td>(c)</td>
               <td>Reverse power relay</td>
               <td style="font-size:14px; color: #222;">{{users.protection_generator_reverse_calibration_date |date:'d/m/Y'}}</td>
               <td style="font-size:14px; color: #222;">{{users.protection_generator_reverse_calibration_certificate}}</td>
               <td>NA</td>
               <td>NA</td>
               <td style="font-size:14px; color: #222;">{{users.protection_generator_reverse_status}}</td>
               <td style="font-size:14px; color: #222;">{{users.protection_generator_reverse_Remarks}}</td>
            </tr>
            <tr>
               <td>(d)</td>
               <td>Winding temp. alarm</td>
               <td style="font-size:14px; color: #222;">{{users.protection_generator_winding_calibration_date |date:'d/m/Y'}}</td>
               <td style="font-size:14px; color: #222;">{{users.protection_generator_winding_calibration_certificate}}</td>
               <td>NA</td>
               <td>NA</td>
               <td style="font-size:14px; color: #222;">{{users.protection_generator_winding_status}}</td>
               <td style="font-size:14px; color: #222;">{{users.protection_generator_winding_Remarks}}</td>
            </tr>
            {% endif %}
         </table>
         <h4 style="font-size:18px ;color: #000; margin: 20px 0 10px;">6.  Instrumentation.</h4>
         <table cellspacing="0" cellpadding="5" border="1" class="table grid-tab" width="100%" style="font-family: Arial, Helvetica, sans-serif;">
            <tr>
               <th align="left">Ser</th>
               <th align="left">Meter</th>
               <th align="left">Ops/ Non Ops<span class="star">*</span></th>
               <th align="left">Calibration Date<span class="star">*</span></th>
               <th align="left">Calibration Certificate (Available/ Not available)<span class="star">*</span></th>
               <th align="left">Remarks<span class="star">*</span></th>
            </tr>
            {% if users %}
            <tr>
               <td>(a)</td>
               <td>kW meter</td>
               <td style="font-size:14px; color: #222;">{{users.instrumentation_kw}}</td>
               <td style="font-size:14px; color: #222;">{{users.instrumentation_kw_calibration_date |date:'d/m/Y'}}</td>
               <td style="font-size:14px; color: #222;">{{users.instrumentation_kw_calibration_certificate}}</td>
               <td style="font-size:14px; color: #222;">{{users.instrumentation_kw_calibration_Remarks}}</td>
            </tr>
            <tr>
               <td>(b)</td>
               <td>Ammeter</td>
               <td style="font-size:14px; color: #222;">{{users.instrumentation_ammeter}}</td>
               <td style="font-size:14px; color: #222;">{{users.instrumentation_ammeter_calibration_date  |date:'d/m/Y'}}</td>
               <td style="font-size:14px; color: #222;">{{users.instrumentation_ammeter_calibration_certificate}}</td>
               <td style="font-size:14px; color: #222;">{{users.instrumentation_ammeter_calibration_Remarks}}</td>
               
            </tr>
            <tr>
               <td>(c)</td>
               <td>Voltmeter</td>
               <td style="font-size:14px; color: #222;">{{users.instrumentation_voltmeter}}</td>
               <td style="font-size:14px; color: #222;">{{users.instrumentation_voltmeter_calibration_date |date:'d/m/Y'}}</td>
               <td style="font-size:14px; color: #222;">{{users.instrumentation_voltmeter_calibration_certificate}}</td>
               <td style="font-size:14px; color: #222;">{{users.instrumentation_voltmeter_calibration_Remarks}}</td>
            </tr>
            <tr>
               <td>(d)</td>
               <td>Frequency meter</td>
               <td style="font-size:14px; color: #222;">{{users.instrumentation_frequency}}</td>
               <td style="font-size:14px; color: #222;">{{users.instrumentation_frequency_calibration_date  |date:'d/m/Y'}}</td>
               <td style="font-size:14px; color: #222;">{{users.instrumentation_frequency_calibration_certificate}}</td>
               <td style="font-size:14px; color: #222;">{{users.instrumentation_frequency_calibration_Remarks}}</td>
            </tr>
            <tr>
               <td>(e)</td>
               <td>Power factor meter</td>
               <td style="font-size:14px; color: #222;">{{users.instrumentation_power}}</td>
               <td style="font-size:14px; color: #222;">{{users.instrumentation_power_calibration_date |date:'d/m/Y'}}</td>
               <td style="font-size:14px; color: #222;">{{users.instrumentation_power_calibration_certificate}}</td>
               <td style="font-size:14px; color: #222;">{{users.instrumentation_power_calibration_Remarks}}</td>
            </tr>
         </table>
         <h4 style="font-size:18px ;color: #000; margin: 20px 0 10px;">7.  Miscellaneous Checks</h4>
         <table cellspacing="0" cellpadding="5" border="1" class="table grid-tab" width="100%" style="font-family: Arial, Helvetica, sans-serif;">
            <tr>
               <th colspan="3"></th>
               <th>Remarks</th>
            </tr>
            <tr>
               <td width="5%">(a)</td>
               <td width="50%">Main stator resistance checks<span class="star">**</span></td>
               <td style="font-size:14px; color: #222;">{{users.miscellaneous_main_stator}}</td>
               <td style="font-size:14px; color: #222;">{{users.miscellaneous_main_stator_remarks}}</td>
            </tr>
            <tr>
               <td>(b)</td>
               <td>Main rotor resistance checks<span class="star">**</span></td>
               <td style="font-size:14px; color: #222;">{{users.miscellaneous_main_rotor}}</td>
               <td style="font-size:14px; color: #222;">{{users.miscellaneous_main_rotor_remarks}}</td>
            </tr>
            <tr>
               <td>(c)</td>
               <td>Exciter stator resistance checks<span class="star">**</span></td>
               <td style="font-size:14px; color: #222;">{{users.miscellaneous_exciter_stator}}</td>
               <td style="font-size:14px; color: #222;">{{users.miscellaneous_exciter_stator_remarks}}</td>
            </tr>
            <tr>
               <td>(d)</td>
               <td>Exciter rotor resistance checks<span class="star">**</span></td>
               <td style="font-size:14px; color: #222;">{{users.miscellaneous_exciter_rotor}}</td>
               <td style="font-size:14px; color: #222;">{{users.miscellaneous_exciter_rotor}}</td>
            </tr>
            <tr>
               <td>(e)</td>
               <td>Check condition of slip ring (Sat/ Unsat)<span class="star">*</span></td>
               <td style="font-size:14px; color: #222;">{{users.miscellaneous_condition_slip}}</td>
               <td style="font-size:14px; color: #222;">{{users.miscellaneous_condition_slip_remarks}}</td>
            </tr>
            <tr>
               <td>(f)</td>
               <td>Check condition of zinc plugs (Sat/ Unsat)<span class="star">*</span></td>
               <td style="font-size:14px; color: #222;">{{users.miscellaneous_condition_zinc}}</td>
               <td style="font-size:14px; color: #222;">{{users.miscellaneous_condition_zinc_remarks}}</td>
            </tr>
            <tr>
               <td>(g)</td>
               <td>Anti-condensation heater (Ops/ Non Ops)<span class="star">*</span></td>
               <td style="font-size:14px; color: #222;">{{users.miscellaneous_condensation}}</td>
               <td style="font-size:14px; color: #222;">{{users.miscellaneous_condensation_remarks}}</td>
            </tr>
            <tr>
               <td>(h)</td>
               <td>GTTT trial status (Sat/ Unsat)<span class="star">*</span></td>
               <td style="font-size:14px; color: #222;">{{users.miscellaneous_gttt}}</td>
               <td style="font-size:14px; color: #222;">{{users.miscellaneous_gttt_remarks}}</td>
            </tr>
            <tr>
               <td>(i)</td>
               <td>Internal communication (Sat/ Unsat)<span class="star">*</span></td>
               <td style="font-size:14px; color: #222;">{{users.miscellaneous_communication}}</td>
               <td style="font-size:14px; color: #222;">{{users.miscellaneous_communication_remarks}}</td>
            </tr>
            <tr>
               <td>(j)</td>
               <td>Lighting of compartment (Sat/ Unsat)<span class="star">*</span></td>
               <td style="font-size:14px; color: #222;">{{users.miscellaneous_lighting}}</td>
               <td style="font-size:14px; color: #222;">{{users.miscellaneous_lighting_remarks}}</td>
            </tr>
            <tr>
               <td>(k)</td>
               <td>Ventilation of compartment (Sat/ Unsat)<span class="star">*</span></td>
               <td style="font-size:14px; color: #222;">{{users.miscellaneous_ventilation}}</td>
               <td style="font-size:14px; color: #222;">{{users.miscellaneous_ventilation_remarks}}</td>
            </tr>
            <tr>
               <td>(l)</td>
               <td>Generator terminal box and top cover nuts and bolts cover  are secured (Sat/ Unsat)<span class="star">*</span></td>
               <td style="font-size:14px; color: #222;">{{users.miscellaneous_generator}}</td>
               <td style="font-size:14px; color: #222;">{{users.miscellaneous_generator_remarks}}</td>
            </tr>
            <tr>
               <td>(m)</td>
               <td>Loose cables/ wires of various instrumentation secured (Sat/ Unsat)<span class="star">*</span></td>
               <td style="font-size:14px; color: #222;">{{users.miscellaneous_loose}}</td>
               <td style="font-size:14px; color: #222;">{{users.miscellaneous_loose_remarks}}</td>
            </tr>
            <tr>
               <td>(n)</td>
               <td>Generator/ Swbd is earthed (Sat/ Unsat)<span class="star">*</span></td>
               <td style="font-size:14px; color: #222;">{{users.miscellaneous_earthed}}</td>
               <td style="font-size:14px; color: #222;">{{users.miscellaneous_earthed_remarks}}</td>
            </tr>
            <tr>
               <td>(o)</td>
               <td>Generator supply breaker operates electrically (Sat/ Unsat)<span class="star">*</span></td>
               <td style="font-size:14px; color: #222;">{{users.miscellaneous_electrically}}</td>
               <td style="font-size:14px; color: #222;">{{users.miscellaneous_electrically_remarks}}</td>
            </tr>
            <tr>
               <td>(p)</td>
               <td>Ambient temperature at start<span class="star">*</span></td>
               <td style="font-size:14px; color: #222;">{{users.miscellaneous_ambient}}</td>
               <td style="font-size:14px; color: #222;">{{users.miscellaneous_ambient_remarks}}</td>
            </tr>
            <tr>
               <td>(q)</td>
               <td>Temperature rise after two hours of running at full load<span class="star">*</span></td>
               <td style="font-size:14px; color: #222;">{{users.miscellaneous_full_load}}</td>
               <td style="font-size:14px; color: #222;">{{users.miscellaneous_full_load_remarks}}</td>
            </tr>
            <tr>
               <td>(r)</td>
               <td>Routine on cooler last carried out on (date)<span class="star">*</span></td>
               <td style="font-size:14px; color: #222;">{{users.miscellaneous_routine |date:'d/m/Y'}}</td>
               <td style="font-size:14px; color: #222;">{{users.miscellaneous_routine_remarks}}</td>
            </tr>
            <tr>
               <td>(s)</td>
               <td>Temperature of cooler inlet pipe line<span class="star">*</span></td>
               <td style="font-size:14px; color: #222;">{{users.miscellaneous_inlet}}</td>
               <td style="font-size:14px; color: #222;">{{users.miscellaneous_inlet_remarks}}</td>
            </tr>
            <tr>
               <td>(t)</td>
               <td>Temperature of cooler outlet pipe line<span class="star">*</span></td>
               <td style="font-size:14px; color: #222;">{{users.miscellaneous_outlet}}</td>
               <td style="font-size:14px; color: #222;">{{users.miscellaneous_outlet_remarks}}</td>
            </tr>
            <tr>
               <td>(u)</td>
               <td>Stator winding temperature (where applicable)<span class="star">*</span></td>
               <td style="font-size:14px; color: #222;">{{users.miscellaneous_stator_winding}}</td>
               <td style="font-size:14px; color: #222;">{{users.miscellaneous_stator_winding_remarks}}</td>
            </tr>
            {% endif %}
         </table>
         <div class="note-card">
            <p><strong>Note:</strong>For Para 1 to 7, following to be followed while filling the details mentioned in sub serials:-</p>
            <ul type="i">
               <li><span class="star"> “*”</span>-   To be provided by SS.</li>
               <li><span class="star"> “**”</span>-   To be checked/ provided by Yard.</li>
            </ul>
         </div>
         <h4 style="font-size:18px ;color: #000; margin: 20px 0 10px;">8.Trials (To be Undertaken by Yard).</h4>
         <table>
            {% if users %}
            <tr>
               <td>(a) Governor droop at 100% load change (2-4%)</td>
               <td style="font-size:14px; color: #222;">{{users.governor_load_change_val}}</td>
               <td><span>%</span></td>
            </tr>
            <tr>
               <td>Governor Droop - (No load frequency - Full load frequency)*100
                  Nominal frequency
               </td>
            </tr>
            <tr>
               <td>Nominal frequency – (No load frequency + Full load frequency)2</td>
            </tr>
         </table>
         <p>(b)  Frequency range minimum ± 3% (Mech Governor) and +1% (Elect Governor) at no load and rated load.</p>
         <table cellspacing="0" cellpadding="5" border="1" class="table grid-tab" width="100%" style="font-family: Arial, Helvetica, sans-serif;">
            <tr>
               <th align="left">Load %</th>
               <th align="left">Measured Frequency (Hz)</th>
               <th align="left">Remark</th>
               <th align="left">Observation</th>
            </tr>
            <tr>
               <td>0</td>
               <td style="font-size:14px; color: #222;">{{users.trial_0_frequency}}</td>
              <td style="font-size:14px; color: #222;">{{users.trial_0_remark}}</td>
              <td style="font-size:14px; color: #222;">{{users.trial_0_frequency_obs}}</td>
            </tr>
            <tr>
               <td>100</td>
               <td style="font-size:14px; color: #222;">{{users.trial_100_frequency}}</td>
              <td style="font-size:14px; color: #222;">{{users.trial_100_remark}}</td>
              <td style="font-size:14px; color: #222;">{{users.trial_100_frequency_obs}}</td>
            </tr>
         </table>
         <p>(c)  Final value and recovery time of frequency at load changes mentioned below.</p>
         <table cellspacing="0" cellpadding="5" border="1" class="table grid-tab" width="100%" style="font-family: Arial, Helvetica, sans-serif;">
            <tr>
               <th align="left" colspan="2">Load %</th>
               <th align="left" rowspan="2">Initial Speed(Hz)</th>
               <th align="left" rowspan="2">Momentary Speed(Hz)</th>
               <th align="left" rowspan="2">Final Speed(Hz)</th>
               <th align="left" colspan="2">% Peak</th>
               <th align="left" colspan="2">Time of Recovery to Within ±0.5% of Final Value</td>
            </tr>
            <tr>
               <th align="left">Initial</th>
               <th align="left">To</th>
               <th align="left">Observed</th>
               <th align="left">Permissible Limits</th>
               <th align="left">Observed</th>
               <th align="left">Permissible Limits (Sec)</th>
            </tr>
            <tr>
               <th align="left" colspan="9">For All Alternators (Turbo/ Diesel Including Turbo-Charged Machines)</th>
            </tr>
            <tr>
               <th align="left" colspan="9">PЧM (RChM) ‘ON’</th>
            </tr>
            <tr>
               <td>0</td>
               <td>50</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryfrquncy_ON_0x50_init_speed}}</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryfrquncy_ON_0x50_mtry_speed}}</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryfrquncy_ON_0x50_final_speed}}</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryfrquncy_ON_0x50_peak_obs}}</td>
               <td>± 1%</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryfrquncy_ON_0x50_final_val_obs}}</td>
               <td rowspan="2">3Sec</td>
            </tr>
            <tr>
               <td>50</td>
               <td>0</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryfrquncy_ON_50x0_init_speed}}</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryfrquncy_ON_50x0_mtry_speed}}</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryfrquncy_ON_50x0_final_speed}}</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryfrquncy_ON_50x0_peak_obs}}</td>
               <td>± 1%</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryfrquncy_ON_50x0_final_val_obs}}</td>
            </tr>
            <tr>
               <td>0</td>
               <td>100</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryfrquncy_ON_0x100_init_speed}}</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryfrquncy_ON_0x100_mtry_speed}}</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryfrquncy_ON_0x100_final_speed}}</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryfrquncy_ON_0x100_peak_obs}}</td>
               <td>± 2%</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryfrquncy_ON_0x100_final_val_obs}}</td>
               <td rowspan="2">5Sec</td>
            </tr>
            <tr>
               <td>100</td>
               <td>0</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryfrquncy_ON_100x0_init_speed}}</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryfrquncy_ON_100x0_mtry_speed}}</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryfrquncy_ON_100x0_final_speed}}</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryfrquncy_ON_100x0_peak_obs}}</td>
               <td>± 2%</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryfrquncy_ON_100x0_final_val_obs}}</td>
            </tr>
            <tr>
               <th align="left" colspan="9">PЧM (RChM) ‘OFF’</th>
            </tr>
            <tr>
               <td>0</td>
               <td>50</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryfrquncy_OFF_0x50_init_speed}}</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryfrquncy_OFF_0x50_mtry_speed}}</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryfrquncy_OFF_0x50_final_speed}}</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryfrquncy_OFF_0x50_peak_obs}}</td>
               <td>+ 5 %</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryfrquncy_OFF_0x50_final_val_obs}}</td>
               <td rowspan="2">Not specified</td>
            </tr>
            <tr>
               <td>50</td>
               <td>0</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryfrquncy_OFF_50x0_init_speed}}</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryfrquncy_OFF_50x0_mtry_speed}}</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryfrquncy_OFF_50x0_final_speed}}</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryfrquncy_OFF_50x0_peak_obs}}</td>
               <td>+ 5 %</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryfrquncy_OFF_50x0_final_val_obs}}</td>
            </tr>
            <tr>
               <td>0</td>
               <td>100</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryfrquncy_OFF_0x100_init_speed}}</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryfrquncy_OFF_0x100_mtry_speed}}</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryfrquncy_OFF_0x100_final_speed}}</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryfrquncy_OFF_0x100_peak_obs}}</td>
               <td>+ 5 %</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryfrquncy_OFF_0x100_final_val_obs}}</td>
               <td rowspan="2">15Sec</td>
            </tr>
            <tr>
               <td>10  0</td>
               <td>0</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryfrquncy_OFF_100x0_init_speed}}</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryfrquncy_OFF_100x0_mtry_speed}}</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryfrquncy_OFF_100x0_final_speed}}</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryfrquncy_OFF_100x0_peak_obs}}</td>
               <td>+ 5 %</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryfrquncy_OFF_100x0_final_val_obs}}</td>
            </tr>
         </table>
         <div class="note-card">
            <p><strong>Note:</strong>Formula for % peak – (Initial frequency – Momentary frequency) <span class="star">*</span> 100
               Nominal frequency
            </p>
         </div>
         <p>(d)  Final value and recovery time of voltage at all load changes achieved</p>
         <table cellspacing="0" cellpadding="5" border="1" class="table grid-tab" width="100%" style="font-family: Arial, Helvetica, sans-serif;">
            <tr>
               <th align="left" colspan="2">Load %</th>
               <th align="left" rowspan="2">Initial Voltage (V)</th>
               <th align="left" rowspan="2">Momentary Voltage (V)</th>
               <th align="left" rowspan="2">Final Voltage (V)</th>
               <th align="left" colspan="2">% Peak</th>
               <th align="left" colspan="2">Time of Recovery to Within ±1% of Final Value</th>
            </tr>
            <tr>
               <th align="left">Initial</th>
               <th align="left">To</th>
               <th align="left">Observed</th>
               <th align="left">Permissible Limits</th>
               <th align="left">Observed (Sec)</th>
               <th align="left">Permissible Limits (Sec)</th>
            </tr>
            <tr>
               <td>0</td>
               <td>50</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryvolt_0x50_init_volt}}</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryvolt_0x50_mtry_volt}}</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryvolt_0x50_final_volt}}</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryvolt_0x50_peak_obs}}</td>
               <td rowspan="2">+13% to -10%</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryvolt_0x50_final_val_obs}}</td>
               <td rowspan="2">0.5</td>
            </tr>
            <tr>
               <td>0</td>
               <td>50</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryvolt_50x0_init_volt}}</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryvolt_50x0_mtry_volt}}</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryvolt_50x0_final_volt}}</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryvolt_50x0_peak_obs}}</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryvolt_50x0_final_val_obs}}</td>
            </tr>
            <tr>
               <td>0</td>
               <td>100</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryvolt_0x100_init_volt}}</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryvolt_0x100_mtry_volt}}</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryvolt_0x100_final_volt}}</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryvolt_0x100_peak_obs}}</td>
               <td rowspan="2">+22% to -22%</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryvolt_0x100_final_val_obs}}</td>
               <td rowspan="2">0.8</td>
            </tr>
            <tr>
               <td>100</td>
               <td>0</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryvolt_100x0_init_volt}}</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryvolt_100x0_mtry_volt}}</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryvolt_100x0_final_volt}}</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryvolt_100x0_peak_obs}}</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryvolt_100x0_final_val_obs}}</td>
            </tr>
            <tr>
               <td colspan="2">0+M</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryvolt_0M_init_volt}}</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryvolt_0M_mtry_volt}}</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryvolt_0M_final_volt}}</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryvolt_0M_peak_obs}}</td>
               <td rowspan="3">15%</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryvolt_0M_final_val_obs}}</td>
               <td rowspan="3">1</td>
            </tr>
            <tr>
               <td colspan="2">50+M</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryvolt_50M_init_volt}}</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryvolt_50M_mtry_volt}}</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryvolt_50M_final_volt}}</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryvolt_50M_peak_obs}}</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryvolt_50M_final_val_obs}}</td>
            </tr>
            <tr>
               <td colspan="2">85+M</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryvolt_85M_init_volt}}</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryvolt_85M_mtry_volt}}</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryvolt_85M_final_volt}}</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryvolt_85M_peak_obs}}</td>
               <td style="font-size:14px; color: #222;">{{users.rcvryvolt_85M_final_val_obs}}</td>
            </tr>
          
         </table>
         <div class="note-card">
            <ul type="i">
               <li>‘M’ load is application of load equal to 50% rated KVA at 0.4 PF lagging.</li>
               <li>Formula for % peak – (Initial voltage – Momentary voltage) <span class="star">*</span> 100 Nominal voltage. Nominal voltage – (No load voltage + Full load voltage) 2 </li>
            </ul>
         </div>
         <p>(e)  Minimum + 5% voltage range at no load and rated load with the help of hand regulator and AVR trimmer achieved</p>
         <table cellspacing="0" cellpadding="5" border="1" class="table grid-tab" width="100%" style="font-family: Arial, Helvetica, sans-serif;">
            <tr>
               <th rowspan="2"></th>
               <th align="left" rowspan="2">Load %</th>
               <th align="left" colspan="2">Voltage Measured on Switchboard (Volts)</th>
               <th align="left" rowspan="2">Remark</th>
               <th align="left" rowspan="2">Observation</th>
            </tr>
            <tr>
               <th align="left">At Lowest Limit of Trimmer </th>
               <th align="left">At Highest Limit of Trimmer </th>
            </tr>
            <tr>
               <td rowspan="2">A.V.R. Control</td>
               <td>0</td>
               <td style="font-size:14px; color: #222;">{{users.AVRtrmmr_0_swtchbrd_lowest_limit}}</td>
               <td style="font-size:14px; color: #222;">{{users.AVRtrmmr_0_swtchbrd_ehighst_limit}}</td>
               <td style="font-size:14px; color: #222;">{{users.AVRtrmmr_0_remark}}</td>
               <td style="font-size:14px; color: #222;">{{users.AVRtrmmr_0_observe}}</td>
            </tr>
            <tr>
               <td>100</td>
               <td style="font-size:14px; color: #222;">{{users.AVRtrmmr_100_swtchbrd_lowest_limit}}</td>
               <td style="font-size:14px; color: #222;">{{users.AVRtrmmr_100_swtchbrd_highest_limit}}</td>
               <td style="font-size:14px; color: #222;">{{users.AVRtrmmr_100_remark}}</td>
               <td style="font-size:14px; color: #222;">{{users.AVRtrmmr_100_observe}}</td>
            </tr>
         </table>
         <table cellspacing="0" cellpadding="5" border="1" class="table grid-tab" width="100%" style="font-family: Arial, Helvetica, sans-serif; margin-top: 20px;">
            <tr>
               <td width="65%">(f) Load trials up to rated capacity carried out at Power actor (P.F)</td>
               <td style="font-size:14px; color: #222;">{{users.loadTrial_power_factor}}</td>
            </tr>
            <tr>
               <td width="65%">(i) Max. KW achieved</td>
               <td style="font-size:14px; color: #222;">{{users.max_achieved_KW_val}}</td>
            </tr>
            <tr>
               <td width="65%">(ii)  Max. amp.achieved</td>
               <td style="font-size:14px; color: #222;">{{users.max_achieved_amp_val}}</td>
            </tr>
         </table>
         <p><strong>Signature of Electrical Officer</strong></p>
         <table cellspacing="0" cellpadding="5" border="1" class="table grid-tab" width="100%" style="font-family: Arial, Helvetica, sans-serif;">
            <tr>
               <td width="35%">Rank - </td>
               <td style="font-size:14px; color: #222;">{{users.authorization_officer_rank}}</td>
            </tr>
            <tr>
               <td>Name - </td>
               <td style="font-size:14px; color: #222;">{{users.authorization_officer_name}}</td>
            </tr>
            <tr>
               <td>Number - </td>
               <td style="font-size:14px; color: #222;">{{users.authorization_officer_number}}</td>
            </tr>
            <tr>
               <td>Date : </td>
               <td style="font-size:14px; color: #222;">{{users.authorization_date|date:'d/m/Y'}}</td>
            </tr>
            {% endif %}
         </table>
         <br>
         <br>               
         <h4> Recommendations. Following recommended:</h4>
               
            {% if approvalData %}
               {% for approval in approvalData %}
               <table cellspacing="0" cellpadding="5" border="1" class="table grid-tab" width="100%" style="font-family: Arial, Helvetica, sans-serif; text-align: left;">
                                       
                     <tr><th>Trial No.</th><td>{{ approval.trial.trial_number }}</td></tr>
                     
                     <tr><th>Level</th><td>{{ approval.approved_level }}</td></tr>
                     
                     <tr> <th>Recommendations</th><td>{{ approval.comments }}</td></tr>
                     
                     <tr><th>Approval <br>Status</th>{% if approval.status == 1 %}
                        <td>{{ "Approved" }}</td>
                        {% endif %}
                        {% if approval.status == 2 %}
                        <td>{{ "Rejected" }}</td>
                        {% endif %}
                        </tr>
                     <tr><th>Approved <br>Role</th><td>{{ approval.approved_role.name}}</td></tr>
                     <tr><th>Approved <br>By</th><td>{{ approval.approved_by.first_name }} {{ approval.approved_by.last_name }}</td></tr>
                  
               
               </table>
            {% endfor %}
               {% endif %}

         <div class="clear"></div>
      </div>
      <table cellspacing="0" cellpadding="5"  class="table grid-tab" width="100%" style="font-family: Arial, Helvetica, sans-serif; margin-top: 0px;">
         <tr>
             <td width="80%" style="margin-left:90px;text-align:right;font-family:Times New Roman;">Electronically Signed By: <br> {{history.first_name}} {{history.last_name}}, {{history.login_name}} <br> {{history.designation}} <br> On {{ history.approved_date_time }} <br> Using login ID authentication through ITTTM </td>
             <td width="50%"  style="margin-left:50px">   <img style="width:130px;height:130px;align-item:right" src="http://159.12.45.106:8000/{{qr}}"/></td>
         </tr>
     </table>
   </body>
</html>
